html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
}
  
*,
*::after,
*::before {
    box-sizing: inherit;
}
  
body {
    margin: 0;
    overflow-x: hidden;
    color: var(--text-color);
}

h1 {
    position: absolute;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    top: 0px;
    left: 20px;
    z-index: 1;
}

.ruler {
    position: absolute;
    top: 30px;
    left: 0px;
}